<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{listingId}}">
  <ion-content has-header="true" padding="true">
      <div class="list card">

          <div class="item item-avatar">
              <img src="http://placehold.it/200x200">
              <h2>{{getUserId()}}</h2>
              <p>November 05, 1955</p>
          </div>

          <div class="item item-body">
              <a href="#" class="item item-icon-left">
                  <i class="icon ion-android-note"></i>
                  {{listing.descr}}
              </a>

              <a href="#" class="item item-icon-left">
                  <i class="icon ion-home"></i>
                  {{listing.location}}
              </a>

              <a href="#" class="item item-icon-left">
                  <i class="icon ion-ios7-telephone"></i>
                  {{listing.contact}}
              </a>

              <p>
                  <a href="#" class="subdued">1 Like</a>
                  <a href="#" class="subdued">5 Comments</a>
              </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#">
                  <i class="icon ion-thumbsup"></i>
                  Like
              </a>
              <a class="tab-item" href="#">
                  <i class="icon ion-chatbox"></i>
                  Comment
              </a>
              <a class="tab-item" href="#">
                  <i class="icon ion-share"></i>
                  Share
              </a>
          </div>

      </div>
  </ion-content>
</ion-view>
