<ion-view title="Login">
    <ion-content class="has-header padding">
        <button class="button button-block button-positive" ng-click="authFB()">
            <i class="ion-social-facebook"></i>
            Facebook
        </button>
        <button class="button button-block button-positive">
            <i class="ion-social-google"></i>
            Google
        </button>
        <button class="button button-block button-positive">
            <i class="ion-social-twitter"></i>
            Twitter
        </button>
    </ion-content>
</ion-view>