<!doctype html>
<html>
<head>

</head>
<body>
<div id="user" style="display: none">
<%= JSON.stringify(user)%>
</div>
<script>
    console.log(document.getElementById("user").innerHTML);
</script>
</body>

</html>

