<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


    <!-- <script src="http://192.168.2.80:8080/target/target-script-min.js#anonymous"></script> -->
  </head>
  <body ng-app="t2spare" ng-controller="HomeCtrl" animation="slide-left-right-ios7">
        <ion-side-menus>
              <!-- Left menu -->
              <ion-side-menu side="left">
                  <ion-header-bar class="bar-positive">
                      <h1 class="title">Menu</h1>
                  </ion-header-bar>
                  <ion-content scroll="false">
                      <ion-list>
                        <ion-item>1</ion-item>
                      </ion-list>
                  </ion-content>
              </ion-side-menu>

              <!-- Center Content -->
              <ion-side-menu-content>

                    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
                        <ion-nav-buttons side="left">
                            <ion-nav-back-button class="button-clear">
                                <i class="ion-chevron-left"></i>
                            </ion-nav-back-button>

                        </ion-nav-buttons>
                    </ion-nav-bar>
                    <!--
                      The views will be rendered in the <ion-nav-view> directive below
                      Templates are in the /templates folder (but you could also
                      have templates inline in this html file if you'd like)
                    -->
                    <ion-nav-view>

                        <!-- Modals -->
                        <script id="new-listing.html" type="text/ng-template">

                            <ion-modal-view>

                                <!-- Modal header bar -->
                                <ion-header-bar class="bar-secondary">
                                    <h1 class="title">Add New Listing</h1>
                                    <button class="button button-clear button-positive" ng-click="closeListingModal()">Cancel</button>
                                </ion-header-bar>

                                <!-- Modal content area -->
                                <ion-content>

                                    <form ng-submit="createListing(listing)">
                                        <div class="list list-inset">
                                            <label class="item item-input item-stacked-label">
                                                <span class="input-label">Description</span>
                                                <textarea placeholder="2 tickets to Batman" ng-model="listing.descr"></textarea>
                                            </label>

                                            <label class="item item-input item-stacked-label">
                                                <span class="input-label">Location</span>
                                                <input type="text" placeholder="Century Cinemas, Mountain View, CA" ng-model="listing.location">
                                            </label>

                                            <label class="item item-input item-stacked-label">
                                                <span class="input-label">Contact details</span>
                                                <input type="text" placeholder="Enter phone, email or anything!" ng-model="listing.contact">
                                            </label>
                                        </div>
                                        <div class="padding">
                                            <button type="submit" class="button button-block button-positive">Create Listing</button>
                                        </div>
                                    </form>

                                </ion-content>

                            </ion-modal-view>

                        </script>


                        <!-- Login modal -->
                        <script id="login.html" type="text/ng-template">

                            <ion-modal-view>

                                <!-- Modal header bar -->
                                <ion-header-bar class="bar-secondary">
                                    <h1 class="title">Login</h1>
                                    <button class="button button-clear button-positive" ng-click="closeLoginModal()">Cancel</button>
                                </ion-header-bar>

                                <!-- Modal content area -->
                                <ion-content class="padding">

                                    <button class="button button-block button-positive" ng-click="authFB()">
                                        <i class="ion-social-facebook"></i>
                                        Facebook
                                    </button>
                                    <button class="button button-block button-positive">
                                        <i class="ion-social-google"></i>
                                        Google
                                    </button>
                                    <button class="button button-block button-positive">
                                        <i class="ion-social-twitter"></i>
                                        Twitter
                                    </button>

                                </ion-content>

                            </ion-modal-view>

                        </script>

                    </ion-nav-view>
              </ion-side-menu-content>
         </ion-side-menus>
        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/ionic/js/angular/angular-resource.min.js"></script>


        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- your app's js -->
        <script src="js/app.js"></script>
        <script src="js/controllers/listings.js"></script>
        <script src="js/services/util.js"></script>
        <script src="js/lb-services.js"></script>
        <script src="js/values.js"></script>
  </body>
</html>
